.in{
  padding:"5px";
  border:"2px solid blue";
  font-family:'sans-serifArial, Helvetica, sans-serif';
}
.bt{
  display:'block-inline';
   margin-left:'-3px';
   padding:'7px';
    padding-left:'10px';
    padding-right:'10px';
    background-color:'blue';
    border:'none';
    border-radius:'5px';
    color:'white';
   font-family:'sans-serifArial, Helvetica, sans-serif';
   cursor: pointer;
}